body {
  font-family: Arial;
  padding: 10px;
}
body div#twitter {
  position: absolute;
  top: 20;
}
@media only screen and (max-width: 600px) {
  body div#twitter {
    right: 60;
  }
}
@media only screen and (min-width: 601px) {
  body div#twitter {
    right: 80;
  }
}
@media only screen and (max-width: 600px) {
  body div#twitter img {
    max-width: 30px;
  }
}
@media only screen and (min-width: 601px) {
  body div#twitter img {
    max-width: 40px;
  }
}
body div#twitter img:hover {
  cursor: pointer;
  opacity: 0.6;
}
body div#github {
  position: absolute;
  top: 20;
  right: 20;
}
body div#github img {
  opacity: 0.9;
}
@media only screen and (max-width: 600px) {
  body div#github img {
    max-width: 30px;
  }
}
@media only screen and (min-width: 601px) {
  body div#github img {
    max-width: 40px;
  }
}
body div#github img:hover {
  cursor: pointer;
  opacity: 0.6;
}
body div#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body div#header .counties {
  display: inline-block;
  width: 200px;
  max-width: 40%;
}
body div#header div#title-container {
  display: flex;
  flex-direction: column;
}
body div#header div#title-container #switches-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
body div#header div#title-container #switches-container #label-left,
body div#header div#title-container #switches-container #label-right,
body div#header div#title-container #switches-container #switches {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 90px;
  margin-bottom: 10px;
}
body div#header div#title-container #switches-container #label-left .label,
body div#header div#title-container #switches-container #label-right .label,
body div#header div#title-container #switches-container #switches .label {
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  width: 200px;
  padding: 4px;
}
body div#header div#title-container #switches-container #label-left .switch-container,
body div#header div#title-container #switches-container #label-right .switch-container,
body div#header div#title-container #switches-container #switches .switch-container {
  height: 60px;
}
body div#header div#title-container #switches-container #label-left {
  text-align: right;
}
body div#header div#title-container #switches-container #label-right {
  text-align: left;
}
@media only screen and (max-width: 600px) {
  body div#header div#title-container div#title {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    text-align: center;
    color: #333;
  }
  body div#header div#title-container div#source {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #555;
  }
  body div#header div#title-container div#subtitle {
    padding-bottom: 7px;
    font-size: 16px;
    text-align: center;
    color: #333;
  }
}
@media only screen and (min-width: 601px) {
  body div#header div#title-container div#title {
    padding-bottom: 10px;
    font-size: 24px;
    padding-top: 10px;
    text-align: center;
    color: #333;
  }
  body div#header div#title-container div#source {
    padding-bottom: 15px;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #555;
  }
  body div#header div#title-container div#subtitle {
    padding-bottom: 12px;
    font-size: 18px;
    text-align: center;
    color: #333;
  }
}
body div#charts-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  body div#charts-container .vermont {
    color: #1f77b4;
  }
  body div#charts-container .new-hampshire {
    color: #871f78;
  }
  body div#charts-container .chart {
    display: block;
    width: 100%;
  }
  body div#charts-container .chart-column {
    width: 100%;
  }
  body div#charts-container .chart-title {
    padding-top: 30px;
    font-size: 14px;
  }
}
@media only screen and (min-width: 601px) {
  body div#charts-container .vermont {
    color: #1f77b4;
  }
  body div#charts-container .new-hampshire {
    color: #871f78;
  }
  body div#charts-container .chart {
    display: block;
    width: 100%;
  }
  body div#charts-container .chart-column {
    width: 600px;
    max-width: 49%;
    min-width: 600px;
  }
  body div#charts-container .chart-title {
    padding-top: 30px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=index.css.map */
