body {
  font-family: Arial;
  padding: 10px;
  div#github {
    position: absolute;
    top: 20;
    right: 20;
    img {
      @media only screen and (max-width: 600px) {
        max-width: 30px;
      }
      @media only screen and (min-width: 601px) {
        max-width: 40px;
      }
      opacity: 0.9;
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
  div#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .counties {
      display: inline-block;
      width: 140;
      max-width: 30%;
    }
    div#title-container {
      display: flex;
      flex-direction: column;
      #switches-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        #label-left,
        #label-right,
        #switches {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          height: 90px;
          margin-bottom: 10px;
          .label {
            box-sizing: border-box;
            display: inline-block;
            height: 60px;
            width: 200px;
            padding: 4px;
          }
          .switch-container {
            height: 60px;
          }
        }
        #label-left {
          text-align: right;
        }
        #label-right {
          text-align: left;
        }
      }
      @media only screen and (max-width: 600px) {
        div#title {
          padding-top: 7px;
          padding-bottom: 7px;
          font-size: 18px;
          text-align: center;
          color: #333;
        }
        div#source {
          font-size: 12px;
          font-style: italic;;
          text-align: center;
          color: #555;
        }
        div#subtitle {
          padding-bottom: 7px;
          font-size: 16px;
          text-align: center;
          color: #333;
        }
      }
      @media only screen and (min-width: 601px) {
        div#title {
          padding-bottom: 10px;
          font-size: 24px;
          padding-top: 10px;
          text-align: center;
          color: #333;
        }
        div#source {
          padding-bottom: 15px;
          font-size: 16px;
          font-style: italic;;
          text-align: center;
          color: #555;
        }
        div#subtitle {
          padding-bottom: 12px;
          font-size: 18px;
          text-align: center;
          color: #333;
        }
      }
    }
  }
  @mixin chart-col {
    .vt {
      color: #1f77b4;
    }
    .nh {
      color: #871f78;
    }
    .chart {
      width: 100%;
    }
  }
  div#charts-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    @media only screen and (max-width: 600px) {
      @include chart-col;
      .chart-column {
        width: 100%;
      }
      .chart-title {
        padding-top: 30px;
        font-size: 14px;
      }
    }
    @media only screen and (min-width: 601px) {
      @include chart-col;
      .chart-column {
        width: 600px;
        max-width: 49%;
        min-width: 600px;
      }
      .chart-title {
        padding-top: 30px;
        font-size: 16px;
      }
    }
  }
}

.hidden{
  display: none;
}