%meta{name: 'charset', content: 'utf-8'}
!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Covid-19 Upper Valley
    %link{href: 'index.css', rel: 'stylesheet'}
    %link{href: 'switch.css', rel: 'stylesheet'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-ER5H1E7NSX');
  %body
    #github
      %img{onclick: 'goToGitHub()', src: 'github.png'}
    #header
      %img.counties{src: 'counties.svg'}
      #title-container
        #title
          The Upper Connecticut River Valley
        #switches-container
          #label-left
            .label Covid-19 cases
            .label total
          #switches 
            #switch-count-of.switch-container
              %label.switch
                %input(type='checkbox')
                %span(class='slider round')
            #switch-measure.switch-container
              %label.switch
                %input(type='checkbox')
                %span(class='slider round')
          #label-right
            .label deaths
            .label per 100k residents
        #source
          Data source: The New York Times
        #last-updated
          Last updated Sunday, November 22, 1:53 PM
    #charts-container
      .chart-column
        .chart-title.vt Orange County, VT
        %img.cases.total.chart{src: 'charts/orange_vermont_cases.svg'}
        %img.cases.adj.chart{src: 'charts/orange_vermont_cases_adjusted.svg'}
        %img.deaths.total.chart{src: 'charts/orange_vermont_deaths.svg'}
        %img.deaths.adj.chart{src: 'charts/orange_vermont_deaths_adjusted.svg'}
        .chart-title.vt Windsor County, VT
        %img.cases.total.chart{src: 'charts/windsor_vermont_cases.svg'}
        %img.cases.adj.chart{src: 'charts/windsor_vermont_cases_adjusted.svg'}
        %img.deaths.total.chart{src: 'charts/windsor_vermont_deaths.svg'}
        %img.deaths.adj.chart{src: 'charts/windsor_vermont_deaths_adjusted.svg'}
      .chart-column
        .chart-title.nh Grafton County, NH
        %img.cases.total.chart{src: 'charts/grafton_new_hampshire_cases.svg'}
        %img.cases.adj.chart{src: 'charts/grafton_new_hampshire_cases_adjusted.svg'}
        %img.deaths.total.chart{src: 'charts/grafton_new_hampshire_deaths.svg'}
        %img.deaths.adj.chart{src: 'charts/grafton_new_hampshire_deaths_adjusted.svg'}
        .chart-title.nh Sullivan County, NH
        %img.cases.total.chart{src: 'charts/sullivan_new_hampshire_cases.svg'}
        %img.cases.adj.chart{src: 'charts/sullivan_new_hampshire_cases_adjusted.svg'}
        %img.deaths.total.chart{src: 'charts/sullivan_new_hampshire_deaths.svg'}
        %img.deaths.adj.chart{src: 'charts/sullivan_new_hampshire_deaths_adjusted.svg'}

%script{async: '', src: 'https://www.googletagmanager.com/gtag/js?id=G-ER5H1E7NSX'}
%script{src: 'index.js'}